.container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

button {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 3rem auto;
  width: 50%;
  height: 5rem;
  border-radius: 20px;
  border: none;
  background-color: #4ecca3;
  font-size: 3rem;
  color: #eeeeee;
  font-family: "Indie Flower", cursive;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
